<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	Título
    <%= form.text_field :title, id: :link_title %>
  </div>

  <div class="field">
	URL
    <%= form.text_field :url, id: :link_url %>
  </div>

  <div>
    <p><img id="preview-img" width="200px" height="184px"></p>
    <h4 id="preview-title"></h4>
    <p id="preview-description"></p>
  </div>

  <div class="field">
	Categoria
	<%= form.collection_select(:category_id, Category.all, :id, :name) %>
  <%= link_to 'Nova Categoria', new_category_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
