<p id="notice"><%= notice %></p>

<h1>Links</h1>

<%= form_tag(links_path, method: :get) do %>
  <%= text_field_tag :title, params[:title] %>
  <%= submit_tag 'Buscar', name: nil %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Lido?</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <td>
      </td>
    </tr>
  </thead>

  <% if @links %>
    <tbody id="app">
      <% @links.each do |link| %>
	  <tr id='<%= link.id %>'>
          <td><%= link_to link.title, link.url %></td>
		  <td class="read">
			  <input type="checkbox"
				  <% if link.read %>
					checked
				  <% end %>
			  >
		  </td>
          <td><%= link.category.name %></td>
          <td><%= link_to 'Alterar', edit_link_path(link) %></td>
          <td><%= link_to 'Excluir', link, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  <%end%>
</table>

<br>

<script>

</script>

<%= link_to 'Novo Link', new_link_path %>
