<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @link.url %>
</p>

<p>
  <strong>Lido:</strong>
  <%= readable_boolean(@link.read) %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @link.category.name %>
</p>

<%= link_to 'Alterar', edit_link_path(@link) %> |
<%= link_to 'Voltar', links_path %>
