<!DOCTYPE html>
<html>
  <head>
    <title>LinkRepo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <strong> <%= link_to 'Links', links_path %> </strong>
      <strong> <%= link_to 'Categoria', categories_path %> </strong>
    </p>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
